<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
    <meta charset="UTF-8">
    <title>数组</title>
</head>
<body>
    <div>
        <h1>ng-list</h1>
        <input ng-model="array" ng-list="-">
        {{array}}
    </div>
    <div ng-controller="ctrl1">
        <h1>ng-repeat</h1>
        <H2>字符串数组</H2>
        <ul>
            <li ng-repeat="item in array2 track by $index">{{item}}--{{$index}}--{{$odd}}--{{$even}}</li>
        </ul>
        <H2>对象数组</H2>
        <ul>
            <li ng-repeat="item in objArr">{{item.name}}--{{$index}}--{{$odd}}--{{$even}}</li>
        </ul>
        <li>

        </li>
    </div>
</body>
<script src="js/angular.min.js"></script>
<script>
    angular.module("myapp",[])
            .controller("ctrl1",function ($scope) {
                $scope.array2=[];
                 //给数组赋值;
                $scope.array2.push("学院院长:杨永祥");
                $scope.array2.push("教导主任:石破天");
                $scope.array2.push("辅导员:叶良辰");
                $scope.array2.push("辅导员:叶良辰");
                $scope.objArr=[]
                $scope.objArr.push({name:'张翠山'})
                $scope.objArr.push({name:'张翠山'})
            });
</script>
</html>