<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-controller="ctrl1">
<input ng-model="newUser"><br>
<input type="button" value="add" ng-click="add()"><br>
{{arr}}
</body>
<script src="js/angular.min.js"></script>
<script>
    angular.module("myapp",[])
            .controller("ctrl1",function ($scope) {
                $scope.newUser="";
                $scope.arr = [];
                $scope.arr.push("唐瑞谦");
                $scope.arr.push("郭襄");
                $scope.arr.push("杨过");
                $scope.add=function () {
                    $scope.arr.push($scope.newUser);
                }
            })
</script>
</html>